body {
    background-color: #7f0101;
}

/* ***************************** list ***************************** */

ul {
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

#ul_book {
    width: 50%;
}


#li_book {
    margin:0 1% 1% 0;
    width:50%
}

#ul_product {
    width: 90%;
}

#li_product {
    float:left;
    margin:0 1% 1% 0;
    width:45%
}

#ul_training {
    width: 90%;
}


#li_training {
    float:left;
    margin:0 1% 1% 0;
    width:30%
}

li:nth-child(even){
    margin-right:0;
}

/* **************************************************************** */


#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}

#img_tct, #img_darius, #img_technical {
    width: 100%;
}

#img_darius {
    margin-left: 5%
}

#img_tct, #img_technical {
    float: right;
    margin-right: 5%
}

.table_main_menu {
    width: 50%;
    margin: 0 auto;
    text-align: center
}

#img_desc_club {
    float: right;
    width: 100%;
    margin-right: 5%
}

#hr_menu {
    width: 100%;
    background-color: #8E6300;
    height: 0.5px;
    margin-top: 0%;
}

.text_jl {
    font-family: Arial,sans-serif;
    font-style: normal;
    letter-spacing: 1.11px;
    color: #8E6300;
    text-transform: uppercase;
}

.text_jl_button {
    font-family: Arial,sans-serif;
    font-style: normal;
    letter-spacing: 1.11px;
    color: #d49400;
    text-transform: uppercase;
}

.memberAdminPanel {
    margin: 0 auto;
    width: 50%;
}

.div_update_content_ad {
    margin: 0 auto;
}

.page_content {
    margin: 0 auto;
    width: 100%;
    text-align: center
}

.text_presentation{
    font-family: "Arial";
    font-weight: normal;
    font-style: normal;
    color: #000;
    text-transform: none;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 1.25em;
}

.button {
    background-color: #950a0a;
    border: 1px solid #ebebeb;
    font-size: 14px;
    padding-top: 5px;
}

.hr_presentation{
    background-color: #8E6300;
    height: 1px;
    margin-top: 0%;
}

#vertical_menu {
    position: fixed;
    top: 0;
    left: 0%;
    bottom: 0;
    width: 5%;
    display: block;
    background-color: #f9f9f9;
    z-index: 2;
}

#items_menu_vertical {
    position: fixed;
    bottom: 3%;
    margin-left: 1%;
    width: 3%;
}

#hr_vertical_menu {
    width: 40%;
    background-color: #8E6300;
    height: 0.5px;
}

#hr_vertical_menu_icon {
    width: 50%;
    background-color: #8E6300;
    height: 7px;
}

#hr_vertical_menu_bottom {
    width: 5%;
    background-color: #8E6300;
    height: 7px;
    bottom: -1.5%;
    position: fixed;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 150%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropbtn {
    width: 50%;
    margin-left:25%
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid black;
  left: 0
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}