#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#img_tct, #img_darius, #img_technical {
    width: 100%;
}

#img_tct, #img_darius {
    float: right;
}

#menuAdmin {
    background-color: red;
}

#img_desc_club {
    float: right;
    width: 100%;
}

#header_menu {
    background-image: url("/media/presentation.png")
}

#hr_menu {
    width: 100%;
    background-color: white;
    height: 0.5px;
    margin-top: 0%;
}

.text_jl {
    font-family: Arial,sans-serif;
    font-style: normal;
    letter-spacing: 1.11px;
    color: #2a2f32;
    text-transform: uppercase;
}
